// HydroSense Dark Color Scheme
// Automatically activated via prefers-color-scheme: dark

$body-background-color: #1c1c1e;
$sidebar-color: #2c2c2e;
$body-text-color: #e8e8e8;
$body-heading-color: #ffffff;
$nav-child-link-color: #b8b8b8;
$link-color: #64b5f6;
$btn-primary-color: #64b5f6;
$code-background-color: #2c2c2e;
$border-color: #3a3a3c;
$table-background-color: #2c2c2e;
$feedback-color: #2c2c2e;
